__pycache__/
*.pyc
.ipynb_checkpoints/
.env
venv/
.env/
.DS_Store
Thumbs.db

# archivos temporales
*.tmp

# si luego procesan archivos pesados
data/processed/*.csv

PF/**/*.csv
PF/**/*.pkl
PF/**/*.joblib
